<div class="col-12">
  <p>Enter the symbol of a stock to track (i.e. AAPL, TSLA, GOOGL)</p>
  <form (ngSubmit)="onSave()" [formGroup]="stockForm">
    <section>
      <input
        [attr.id]="'stockInput'"
        type="text"
        name="symbol"
        formControlName="symbol"
      />

      <button
        [attr.id]="'trackBtn'"
        [disabled]="!stockForm.valid"
        type="button"
        (click)="onSave()"
      >
        Track Stock
      </button>
    </section>
  </form>
</div>
