<div *ngIf="stockService.stocks$ | async as stocks" class="row">
  <ng-container *ngIf="hasLoaded; else loading">
    <app-single-stock
      *ngFor="let stock of stocks"
      [stock]="stock"
      class="col-6"
      style="padding-top:2rem"
    ></app-single-stock>
  </ng-container>
</div>
<ng-template #loading>
  <div class="d-flex justify-content-center pt-5">
    <div class="spinner-border text-info" style="width: 10rem; height: 10rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
